<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find canbot_control)/config/canbot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/canbot"
    args="joint_state_controller
      rightWheel_effort_controller
      leftWheel_effort_controller"
  />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find canbot_description)/urdf/canbot.xacro'" />
    <remap from="/joint_states" to="/canbot/joint_states" />
  </node>

</launch>
